@charset "UTF-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

/*for wrapper*/
.wrapper {
  max-width: 1349px;
  width: 94.2%;
  margin: 0 auto; }

h2 {
  padding: 75px 0 54px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Playfair", serif;
  font-style: italic;
  font-size: 58px;
  font-weight: 800; }

/*=================================
  Header styling starts here
=================================*/
header {
  padding-bottom: 499px;
  background-image: url("https://via.placeholder.com/1349x606/20203e");
  color: #ffffff; }
  header .wrapper {
    padding: 32px 0 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    position: relative; }
    header .wrapper::before {
      content: ' ';
      width: 100%;
      padding: 1px 0;
      position: absolute;
      bottom: 0;
      background-color: #ffffff; }
  header nav {
    width: 80%; }
    header nav a {
      color: inherit;
      text-transform: capitalize; }
    header nav ul {
      display: flex;
      justify-content: flex-end; }
    header nav li {
      width: 10%;
      font-size: 15px;
      text-align: center; }
    header nav li:nth-child(1)::after,
    header nav li:nth-child(2)::after,
    header nav li:nth-child(5)::after {
      content: '\f107';
      padding-left: 12%;
      font-family: 'fontAwesome';
      font-size: 12px; }
  header .other span {
    display: inline-block;
    text-indent: -9999px; }
    header .other span:first-child::after {
      content: "";
      float: right;
      font-family: 'fontAwesome';
      font-size: 24px;
      text-indent: 0; }
    header .other span:last-child::after {
      content: "";
      float: right;
      font-family: 'fontAwesome';
      font-size: 16px;
      text-indent: 0; }

/*=================================
  Header styling ends here
=================================*/
.designs {
  padding-bottom: 151px;
  background-color: #b5c4cc; }
  .designs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    max-height: 1600px; }
  .designs li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48.5%;
    border: 10px solid #ffffff;
    margin-bottom: 20px; }

.slider {
  padding: 33px 0 37px;
  background-color: #1c1c1c; }
  .slider .feedbacks {
    width: 94.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end; }
    .slider .feedbacks::before {
      content: '\f10e';
      margin-right: 6%;
      margin-left: 1.65%;
      font-family: 'fontAwesome';
      font-size: 80px; }
  .slider .feedbacks li {
    display: none; }
  .slider .feedbacks li:first-child {
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between; }
  .slider p {
    width: 80%;
    color: #feffff;
    font-family: "Playfair", serif;
    font-size: 35px;
    font-style: italic;
    line-height: 1.4; }
  .slider li div {
    padding-top: 15px;
    text-align: center;
    font-family: "Playfair", serif; }
  .slider img {
    width: 78%;
    border-radius: 50%; }
  .slider h3 {
    margin: 10px 0 2px;
    color: #feffff;
    font-size: 20px; }
  .slider h4 {
    color: #ca5947;
    font-size: 18px; }
  .slider .sliderControl {
    width: 75%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .slider .sliderControl__controls {
    width: 7.2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between; }
    .slider .sliderControl__controls li {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 45%;
      padding: 5px 13%;
      border: 1px solid #ca5947;
      color: #ca5947;
      text-indent: -9999px;
      text-align: center; }
      .slider .sliderControl__controls li:first-child::before {
        content: "";
        float: right;
        font-family: 'fontAwesome';
        font-size: 18px;
        text-indent: 0; }
      .slider .sliderControl__controls li:last-child::before {
        content: "";
        float: right;
        font-family: 'fontAwesome';
        font-size: 18px;
        text-indent: 0; }
  .slider .sliderControl__dots {
    width: 55%; }
    .slider .sliderControl__dots li {
      margin-right: 1%;
      text-indent: -9999px;
      color: #ca5947; }
      .slider .sliderControl__dots li::before {
        margin-top: 4px;
        content: "";
        float: right;
        font-family: 'fontAwesome';
        font-size: 12px;
        text-indent: 0; }
    .slider .sliderControl__dots .active::before {
      content: "";
      float: right;
      font-family: 'fontAwesome';
      font-size: 12px;
      text-indent: 0; }

.authors {
  background-color: #b5c4cc; }
  .authors h2 {
    padding: 101px 0 74px; }
  .authors ul {
    width: 98.6%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    text-align: center;
    font-family: "Playfair", serif; }
  .authors img {
    border-radius: 50%; }
  .authors h3 {
    margin: 12px 0 2px;
    text-transform: capitalize; }
  .authors h4 {
    color: #feffff;
    text-transform: capitalize; }
